# Python-related files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# Logs
*.log

# IDE/editor configurations
.vscode/
.idea/

# Docker-related
.env.docker
docker-compose.override.yml
